## GAP matching step
in this script will read the RCMP Monday script's output and also the Moodle data.

We match the dataframes and if there is any column in the Moodle data containing "-GAP-" will insert it ("-GAP-") in the corresponding cell in the output dataframe.

In [1]:
import pandas as pd
from datetime import date, datetime
import tkinter as tk
import tkinter.filedialog
import os
import ntpath
import numpy as np

In [2]:
# tkinter setup

root = tk.Tk()
root.withdraw()  # used to hide tkinter window

''

In [78]:
currdir = os.getcwd()
script_output_file = tkinter.filedialog.askopenfilename(
    parent=root, initialdir=currdir, title='Please choose the consent file collected from Moodle')
if len(script_output_file) > 0:
    print("You chose %s" % script_output_file)


df_scipt_output = pd.read_csv(f'{script_output_file}')

You chose C:/Users/spe161/Documents/RITS/GAP-implementation-for-Annual-survey/data/January 30, 2023 Team 1A upload.csv

In [5]:
currdir = os.getcwd()
moodle_file = tkinter.filedialog.askopenfilename(
    parent=root, initialdir=currdir, title='Please choose the consent file collected from Moodle')
if len(moodle_file) > 0:
    print("You chose %s" % moodle_file)


df_moodle = pd.read_csv(f'{moodle_file}')

You chose C:/Users/spe161/Documents/RITS/GAP-implementation-for-Annual-survey/data/report-20230131_1530-comma_separated.csv

In [28]:
print(f" number of records for script output {df_scipt_output.shape}")
print(f" number of records for moodle {df_moodle.shape}")

 number of records for script output (344, 9)
 number of records for moodle (1327, 33)

In [10]:
# list of troops with a gap in their records on mooodle 
df_moodle.set_index("participant number").loc[df_scipt_output.username]

,team,troop number,number of daily surveys,date of last daily,number of monthly surveys,date of last monthly,time 1 - initial survey (text),time 1 - initial interview (scheduler),time 2 - pre-d survey (text),time 2 - pre-d interview (scheduler),...,date of last watch data upload,signedcommconsent,phone locked yes/no,removed from study,kit returned,kit return - phone,kit return - watch,kit return - bio,byod,consentstatus
participant number,,,,,,,,,,,,,,,,,,,,,
052lboquuyant5k2,Team 1A,Troop 6 19/20,19.0,03-Mar-20,3.0,13-Feb-20,NaN,NaN,NaN,"October 28, 2019",...,NaN,No,No,Yes,NaN,No,No,Yes,NaN,Accepted
07h8s4gmeax62v4d,Team 1A,Troop 20 19/20,11.0,08-Mar-20,7.0,27-Feb-20,"August 3, 2019","August 10, 2019","March 7, 2020","March 7, 2020",...,NaN,No,Yes,Yes,NaN,No,No,NaN,NaN,Accepted
07hvb87xv6dniduu,Team 1A,Troop 11 19/20,1191.0,30-Jan-23,30.0,03-Jan-23,"July 6, 2019","July 14, 2019","December 15, 2019","December 15, 2019",...,"January 1, 2023",No,No,No,NaN,No,No,No,No,Accepted
0bjy7tb7al5tylsh,Team 1A,Troop 19 19/20,26.0,01-Nov-20,1.0,22-Feb-20,"September 14, 2019","September 22, 2019","February 26, 2020","February 29, 2020",...,NaN,No,Yes,No,NaN,No,No,NaN,NaN,Accepted
0gwy0v64f89pidga,Team 1A,Troop 17 19/20,19.0,08-May-20,2.0,04-Feb-20,"August 24, 2019","August 31, 2019","February 22, 2020","January 19, 2020",...,NaN,No,Yes,No,NaN,No,No,NaN,NaN,Accepted
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zluujkzlqtepz44l,Team 1A,Troop 19 19/20,18.0,03-Mar-20,1.0,03-Mar-20,"September 20, 2019","September 21, 2019","February 26, 2020","March 7, 2020",...,NaN,No,Yes,No,NaN,No,No,NaN,NaN,Accepted
zp2do0f02to8apot,Team 1A,Troop 18 19/20,3.0,08-Sep-19,NaN,NaN,"September 7, 2019",NaN,NaN,NaN,...,NaN,No,No,Yes,NaN,Yes,Yes,NaN,NaN,Accepted
zqji9ek3y7w0x42h,Team 1A,Troop 17 19/20,51.0,05-Apr-20,1.0,04-Feb-20,"August 25, 2019","September 1, 2019",NaN,"January 18, 2020",...,NaN,No,Yes,No,NaN,No,No,NaN,NaN,Accepted
zqoqy6ibmdep03i8,Team 1A,Troop 8 19/20,333.0,14-Dec-21,14.0,20-Oct-21,"June 8, 2019","June 15, 2019","November 30, 2019","November 30, 2019",...,"December 15, 2021",No,Yes,No,NaN,No,No,NaN,NaN,Accepted
zslwtamo7ksu62up,Team 1A,Troop 18 19/20,17.0,14-Jan-20,NaN,NaN,"September 14, 2019","September 21, 2019","February 19, 2020","February 22, 2020",...,NaN,No,No,No,NaN,No,No,No,NaN,Accepted

In [23]:
df_moodle[df_moodle["participant number"]=='obf1wqc59z5j9jrf'].iloc[:,2:14]

,participant number,number of daily surveys,date of last daily,number of monthly surveys,date of last monthly,time 1 - initial survey (text),time 1 - initial interview (scheduler),time 2 - pre-d survey (text),time 2 - pre-d interview (scheduler),time - 3 annual survey (text),time 3 - annual interview (scheduler),time - 4 annual survey (text)
153,obf1wqc59z5j9jrf,13.0,16-Mar-20,18.0,20-Oct-22,"July 6, 2019","July 13, 2019","April 1, 2020","March 7, 2020","April 29, 2021","April 14, 2021",:-GAP-

In [22]:
df_scipt_output[df_scipt_output.username == 'obf1wqc59z5j9jrf']

,username,profile_field_numdailysurveys,profile_field_dateoflastdaily,profile_field_nummonthlysurveys,profile_field_dateoflastmonthly,profile_field_annualsurvey4,profile_field_annualsurvey5,profile_field_llarecordingnumber,profile_field_llarecordingdate
227,obf1wqc59z5j9jrf,13,"March 16, 2020",10.0,"March 25, 2021",NaN,NaN,42.0,"January 22, 2023"

In [ ]:
col_names = {'username':'participant number','profile_field_annualsurvey4':'time - 4 annual survey (text)',
             'profile_field_annualsurvey5':'time - 5 annual survey (text)'     }

## conditon

for the interview use the moodle data

for the survey will use the script and combine the GAP and dates

In [34]:
df_gap_moodle =df_moodle[df_moodle.isin([":-GAP-"]).any(axis=1)]
df_gap_moodle.iloc[:,:17]

,team,troop number,participant number,number of daily surveys,date of last daily,number of monthly surveys,date of last monthly,time 1 - initial survey (text),time 1 - initial interview (scheduler),time 2 - pre-d survey (text),time 2 - pre-d interview (scheduler),time - 3 annual survey (text),time 3 - annual interview (scheduler),time - 4 annual survey (text),time 4 - annual interview (scheduler),time - 5 annual survey (text),time 5 - annual interview (scheduler)
37,Team 1A,Troop 4 19/20,jeksmcjhjuf1pihx,17.0,10-Feb-20,24.0,10-Oct-22,"May 11, 2019","May 11, 2019","October 7, 2019","October 12, 2019","October 28, 2020","November 5, 2020",:-GAP-,"March 24, 2022",19-Oct-22,"October 19, 2022"
75,Team 1A,Troop 6 19/20,oqd1q16znb1f44ho,114.0,09-Sep-22,4.0,11-Jul-20,"May 25, 2019","May 25, 2019","January 18, 2020","October 27, 2019","October 31, 2020","November 12, 2020",:-GAP-,- GAP -,24-Aug-22,"September 07, 2022"
143,Team 1A,Troop 11 19/20,mhjbiyrecfyvwoef,237.0,20-Jul-22,6.0,28-Apr-21,"July 6, 2019","July 13, 2019","January 6, 2020","December 14, 2019","December 17, 2020","January 5, 2021",:-GAP-,"January 6, 2022",NaN,NaN
153,Team 1A,Troop 20 19/20,obf1wqc59z5j9jrf,13.0,16-Mar-20,18.0,20-Oct-22,"July 6, 2019","July 13, 2019","April 1, 2020","March 7, 2020","April 29, 2021","April 14, 2021",:-GAP-,- GAP -,NaN,"November 30, 2022"
177,Team 1A,Troop 13 19/20,ii4bvnmb2x36ekot,57.0,21-Dec-21,7.0,27-Apr-20,"July 20, 2019","July 27, 2019","December 28, 2019","December 8, 2019","February 7, 2021","February 24, 2021",:-GAP-,"December 22, 2021",NaN,NaN
199,Team 1A,Troop 14 19/20,dare18ylxyu5d4r1,73.0,03-Jul-20,1.0,28-Feb-20,"July 27, 2019","August 4, 2019","January 9, 2020","January 4, 2020",-GAP-,-GAP-,:-GAP-,NaN,NaN,NaN
301,Team 1A,Troop 18 19/20,zslwtamo7ksu62up,17.0,14-Jan-20,NaN,NaN,"September 14, 2019","September 21, 2019","February 19, 2020","February 22, 2020","April 18, 2021","April 22, 2021",:-GAP-,- GAP -,22-Dec-22,NaN
347,Team 1A,Troop 21 19/20,hqczsmttf0884jlq,51.0,27-Jun-20,5.0,27-Jan-21,"September 28, 2019","October 5, 2019",- GAP -,"March 14, 2020","May 26, 2021","May 28, 2021",:-GAP-,"March 10, 2022",08-Nov-22,"November 09, 2022"
396,Team 1A,Troop 23 19/20,hj18hndofn7hf7rz,141.0,27-Jan-23,21.0,29-Dec-22,"October 19, 2019","October 26, 2019","April 1, 2020","March 28, 2020","May 4, 2021","April 23, 2021",:-GAP-,- GAP -,15-Jul-22,"November 03, 2022"
499,Team 1A,Troop 3 19/20,1k7ia8hcq9458ym3,455.0,30-Jan-23,29.0,26-Jan-23,NaN,NaN,"October 25, 2019","January 29, 2020","October 14, 2020","October 20, 2020",:-GAP-,"December 2, 2021",14-Nov-22,"November 23, 2022"
566,Team 1A,Troop 14 19/20,towcmxgtwod134dw,132.0,02-Jan-22,15.0,02-Jan-22,"June 8, 2019","June 15, 2019","January 10, 2020","January 12, 2020","January 27, 2021","February 1, 2021",:-GAP-,"March 24, 2022",NaN,NaN

In [73]:
df_scipt_output.set_index('username').loc[df_gap_moodle["participant number"]]

,profile_field_numdailysurveys,profile_field_dateoflastdaily,profile_field_nummonthlysurveys,profile_field_dateoflastmonthly,profile_field_annualsurvey4,profile_field_annualsurvey5,profile_field_llarecordingnumber,profile_field_llarecordingdate
username,,,,,,,,
jeksmcjhjuf1pihx,17,"February 10, 2020",12.0,"March 24, 2021","October 19, 2022",NaN,0.0,NaN
oqd1q16znb1f44ho,72,"January 22, 2020",4.0,"July 11, 2020","August 24, 2022",NaN,0.0,NaN
mhjbiyrecfyvwoef,100,"December 19, 2019",5.0,"April 08, 2021",NaN,NaN,0.0,NaN
obf1wqc59z5j9jrf,13,"March 16, 2020",10.0,"March 25, 2021",NaN,NaN,42.0,"January 22, 2023"
ii4bvnmb2x36ekot,36,"April 23, 2020",7.0,"April 27, 2020",NaN,NaN,0.0,NaN
dare18ylxyu5d4r1,56,"April 21, 2020",1.0,"February 28, 2020",NaN,NaN,0.0,NaN
zslwtamo7ksu62up,17,"January 14, 2020",NaN,NaN,"December 22, 2022",NaN,0.0,NaN
hqczsmttf0884jlq,50,"April 22, 2020",5.0,"January 27, 2021","November 08, 2022",NaN,17.0,"September 19, 2022"
hj18hndofn7hf7rz,9,"April 13, 2020",11.0,"April 02, 2021","July 15, 2022",NaN,0.0,NaN
1k7ia8hcq9458ym3,79,"April 23, 2020",14.0,"April 10, 2021","November 14, 2022",NaN,12.0,"September 30, 2022"
towcmxgtwod134dw,64,"April 21, 2020",10.0,"April 04, 2021",NaN,NaN,0.0,NaN

## filling GAP and update the script output

In [79]:

col_map = { "time - 4 annual survey (text)":"profile_field_annualsurvey4", "time - 5 annual survey (text)":"profile_field_annualsurvey5"}
for ind, row in df_gap_moodle.iterrows():
    pid = row["participant number"]
    if "GAP" in row["time - 4 annual survey (text)"]:
        if not df_scipt_output.loc[df_scipt_output["username"]== pid, "profile_field_annualsurvey4"].isna().bool():
             
            
            df_scipt_output.loc[df_scipt_output.index[df_scipt_output["username"]== pid][0], "profile_field_annualsurvey5"] = df_scipt_output.loc[df_scipt_output.index[df_scipt_output["username"]== pid][0], "profile_field_annualsurvey4"]
        df_scipt_output.loc[df_scipt_output.index[df_scipt_output["username"]== pid][0], "profile_field_annualsurvey4"]= "-GAP-"

HI
October 19, 2022
HI
August 24, 2022
HI
December 22, 2022
HI
November 08, 2022
HI
July 15, 2022
HI
November 14, 2022

In [89]:
df_scipt_output.to_csv(f"{script_output_file[:-4]+ ' GAP added.csv'}")

In [93]:
df_scipt_output.set_index('username').loc[df_gap_moodle["participant number"]].reset_index().to_csv(f"{script_output_file[:-4]+ ' GAP added -filtered.csv'}")